<!DOCTYPE html>
<html lang="en">
<head>
    <title>Template 3</title>
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1.0" name="viewport" />
    <link rel="stylesheet" type="text/css" href="/assets/app/core/css/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/app/core/css/slick/slick-theme.css"/>
    <link media="screen" href="/assets/app/core/css/template3.css" type="text/css" rel="stylesheet" />
</head>
<body class="bgr-color">
    <div class="container">
        <div class="container-inner">
            <div id="space"></div>
            <div class="swipe-container">

                <div class="swipe-element">
                    <div id="text-h1">
                        <h1 id="fittext-h1-1">What's new in the app?</h1>
                    </div>
                    <div id="main-image">
                        <img class="main-image" src="/assets/app/core/img/template3/main-image.png" alt="main image alt" />
                    </div>
                    <div id="text-p">
                        <p id="fittext-p-1">As mentioned below by Barton and Lee, in recent years the notion of text has been altered by the dynamics of social media.
                        </p>
                    </div>
                </div>
                
                <div class="swipe-element">
                    <div id="text-h1">
                        <h1 id="fittext-h1-2">2What's new in the app?</h1>
                    </div>
                    <div id="main-image">
                        <img class="main-image" src="/assets/app/core/img/template3/main-image.png" alt="main image alt" />
                    </div>
                    <div id="text-p">
                        <p id="fittext-p-2">2 As mentioned below by Barton and Lee, in recent years the notion of text has been altered by the dynamics of social media.
                        </p>
                    </div>
                </div>

            </div>
            <div style="height:7%"> </div>
            <div id="footer">
                <img class="footer" src="/assets/app/core/img/template3/footer-image.png" alt="tesco-footer" />
            </div>
        </div>
    </div>
    <script src="/assets/app/core/js/jquery.min.js"></script>
    <script src="/assets/app/core/js/fittext.js"></script>
    <script type="text/javascript" src="/assets/app/core/js/slick/slick.min.js">
    </script>

    <script>
    $(document).ready(function()
    {
        $('.swipe-container').on('setPosition', function(slick){
            fitText(document.getElementById('fittext-p-1'), 1.8);
            fitText(document.getElementById('fittext-p-2'), 1.8);
            fitText(document.getElementById('fittext-h1-1'), 1.0);
            fitText(document.getElementById('fittext-h1-2'), 1.0);
        });

        $('.swipe-container').slick({
            dots: true,
            arrows: false,
            swipeToSlide: true,
            infinite: false,
            speed: 200
        });
    });
    </script>
</body>
</html>
