<!DOCTYPE html>
<html lang="en">
<head>
    <title>Template 1</title>
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1.0" name="viewport" />
    <link media="screen" href="/assets/app/core/css/template1.css" type="text/css" rel="stylesheet" />
</head>
<body class="bgr-color">
    <div class="container">
        <div class="container-inner">
            <div id="space"></div>
            <div id="text-h1">
                <h1 id="fittext-h1">What's new in the app?</h1>
            </div>
            <div id="main-image">
                <img class="main-image" src="/assets/app/core/img/template1/main-image.png" alt="main image alt" />
            </div>
            <div id="text-p">
                <p id="fittext-p">As mentioned below by Barton and Lee, in recent years the notion of text has been altered by the dynamics of social media.
                </p>
            </div>
            <div id="footer">
                <img class="footer" src="/assets/app/core/img/template1/footer-image.png" alt="tesco-footer" />
            </div>
        </div>
    </div>
    <script src="/assets/app/core/js/fittext.js"></script>
    <script type="text/javascript">
      fitText(document.getElementById('fittext-p'), 1.8);
      fitText(document.getElementById('fittext-h1'), 1.0);
    </script>
    <script src="/assets/app/core/js/jquery.min.js"></script>
</body>
</html>
