<!DOCTYPE html>
<html lang="en">
<head>
    <title>Template 2</title>
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1.0" name="viewport" />
    <link media="screen" href="/assets/app/core/css/template2.css" type="text/css" rel="stylesheet" />
</head>
<body class="bgr-color">
    <div class="container">
        <div class="container-inner">
            <div id="space"></div>
            <div id="text-h1">
                <h1 id="fittext-h1">What's new in the app?</h1>
            </div>
            <div id="main-image">
                <img class="main-image" src="/assets/app/core/img/template2/main-image.png" alt="main image alt" />
            </div>
            <div id="text-p">
                <p id="fittext-p">We have just release a new version of the Mobile Banking App and it is ready for you to upgrade today.
            </div>
            <a href="http://tescobank.com" class="decoration-none">
            <div id="button">
                <p>Button Text<p>
            </div>
            </a>
            <div id="footer">
                <img class="footer" src="/assets/app/core/img/template2/footer-image.png" alt="tesco-footer" />
            </div>
        </div>
    </div>
    <script src="/assets/app/core/js/fittext.js"></script>
    <script type="text/javascript">
      fitText(document.getElementById('fittext-p'), 1.9);
      fitText(document.getElementById('fittext-h1'), 1.0);
      fitText(document.getElementById('button'), 1.9);
    </script>
    <script src="/assets/app/core/js/jquery.min.js"></script>
</body>
</html>
